@font-face {
  font-family: 'Arial';
  src: url('../fonts/ArialMT.eot');
  src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'), url('../fonts/ArialMT.woff2') format('woff2'), url('../fonts/ArialMT.woff') format('woff'), url('../fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trajan Pro 3';
  src: url('../fonts/TrajanPro3-Regular.eot');
  src: url('../fonts/TrajanPro3-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TrajanPro3-Regular.woff2') format('woff2'), url('../fonts/TrajanPro3-Regular.woff') format('woff'), url('../fonts/TrajanPro3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* variables */
/* line 34, style.less */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 42, style.less */
body,
html {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 52, style.less */
p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 202.99%;
  /* or 30px */
  letter-spacing: 0.04em;
  color: #626262;
}
/* line 62, style.less */
h2 {
  font-family: 'Trajan Pro 3';
  font-weight: 400;
  font-size: 4rem;
  line-height: 135.3%;
  /* or 81px */
  text-transform: capitalize;
  color: #536073;
  margin-bottom: 4rem;
}
/* line 72, style.less */
h4 {
  font-family: 'Roboto';
  font-size: 2.6rem;
  line-height: 150%;
  color: #536073;
  font-weight: 300;
}
/* line 79, style.less */
h4 span {
  font-weight: 100;
}
/* line 84, style.less */
img {
  width: 100%;
  height: auto;
}
/* line 89, style.less */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 101, style.less */
.content {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}
/* line 106, style.less */
.color-box {
  display: inline-block;
  background-color: #F8F8F8;
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: -10%;
  top: -30%;
  z-index: -1;
}
/* === BUTTON ===*/
/* line 120, style.less */
button {
  cursor: pointer;
}
/* line 124, style.less */
.btn-dark {
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background: #536073;
  border: none;
}
/* line 134, style.less */
.btn-dark:hover {
  background: #3f4b5c;
}
/* line 138, style.less */
.btn-dark:active {
  background: #313945;
}
/* line 143, style.less */
.btn-light {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #536073;
  padding: 1.5rem 1.86rem 0.86rem 1.86rem;
  background: transparent;
  border: 2px solid #536073;
}
/* line 157, style.less */
.btn-light:hover {
  background: #E2EAF0;
}
/* line 161, style.less */
.btn-light:active {
  background: #536073;
  color: #ffffff;
}
/* line 168, style.less */
.btn__feedback {
  max-width: 160px;
  padding: 1.07rem 1.13rem 0.6rem 1.2rem;
}
/* line 173, style.less */
.btn__get-result {
  margin-top: 4.26rem;
  padding: 1.46rem 3.2rem 0.86rem 3.2rem ;
}
/* line 178, style.less */
.btn-footer {
  width: 100%;
  padding: 1.07rem 1.13rem 0.6rem 1.2rem;
  border: 2px solid #FFFFFF;
  background: transparent;
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0.4rem;
}
/* line 193, style.less */
.slider-container {
  position: relative;
  overflow: hidden;
}
/* line 198, style.less */
.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 1;
}
/* line 209, style.less */
.slide.active {
  opacity: 1;
}
/* line 211, style.less */
.arrow {
  position: fixed;
  background-color: #1DBF73;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  border: 2px solid #1DBF73;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
/* line 222, style.less */
.arrow:focus {
  outline: 0;
}
/* line 225, style.less */
.left-arrow {
  left: calc(-50vw);
}
/* line 226, style.less */
.right-arrow {
  right: calc(-50vw);
}
/* === HERO === */
/* line 233, style.less */
.hero-content {
  position: absolute;
}
/* line 236, style.less */
.hero-content__wrap {
  padding-left: 13rem;
  width: 58rem;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
/* line 246, style.less */
.hero-content__btn {
  z-index: 9999;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
/* line 255, style.less */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  height: 100vh;
  width: 100%;
}
/* line 262, style.less */
.hero-nav {
  margin: 3.3rem 4rem;
}
/* line 266, style.less */
.hero div {
  max-width: 877px;
  text-align: center;
}
/* line 272, style.less */
.hero__btn-container {
  right: 4rem;
}
/* line 277, style.less */
.header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}
/* line 282, style.less */
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 290, style.less */
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 15px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
/* line 297, style.less */
.header-contacts__social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 4rem;
  bottom: 2.26rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 306, style.less */
.header-contacts__social-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  letter-spacing: 0.04em;
  color: #536073;
  margin-bottom: 2.3rem;
}
/* line 315, style.less */
.header-icon {
  fill: #536073;
}
/* line 320, style.less */
.link__header-icon:nth-last-child(n+2) {
  margin-bottom: 1.6rem;
}
/* line 321, style.less */
.nav-item:nth-last-child(n+2) {
  margin-right: 3rem;
}
/* line 323, style.less */
.nav-item__link {
  letter-spacing: 0.04em;
  color: #757575;
  cursor: pointer;
}
/* line 328, style.less */
.nav-item__link:hover {
  color: #3f4b5c;
}
/* line 329, style.less */
.nav-item__link:active {
  color: #313945;
}
/* line 331, style.less */
.logo-img__mob {
  display: none;
}
/* === section CONTENT-WRAP === */
/* line 336, style.less */
.face-img {
  width: 100%;
  max-width: 600px;
}
/* line 341, style.less */
.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem auto 9.4rem;
}
/* line 347, style.less */
.content-wrap__descript {
  max-width: 728px;
  text-align: center;
  position: relative;
}
/* === section CATEGORY  ===*/
/* line 357, style.less */
.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
/* line 364, style.less */
.category-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
/* line 370, style.less */
.category-item__desc {
  position: absolute;
  bottom: 4.9rem;
  left: 2.6rem;
}
/* line 375, style.less */
.category-item__desc h3 {
  font-family: 'Trajan Pro 3';
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 137.99%;
  text-transform: uppercase;
  color: #ffffff;
}
/* line 384, style.less */
.category-item__desc p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 137.99%;
  text-transform: capitalize;
  color: #9db8ce;
}
/* line 394, style.less */
.category-item__list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 2.6rem 1.8rem;
}
/* line 404, style.less */
.category-item__list::before,
.category-item__list::after {
  pointer-events: none;
}
/* line 408, style.less */
.category-item__list img {
  position: relative;
  display: block;
  min-height: 100%;
}
/* line 416, style.less */
.category-link {
  display: block;
}
/* line 420, style.less */
.hover-list {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  background: #3F4A5A;
  cursor: pointer;
}
/* line 428, style.less */
.hover-list img {
  width: 100%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 435, style.less */
.hover-list:hover img {
  opacity: 0.62;
}
/* line 438, style.less */
.hover-list ul {
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}
/* line 452, style.less */
.hover-list ul li {
  font-size: 1.2rem;
  color: #ffffff;
  float: left;
  padding: 0 0.5rem;
}
/* line 459, style.less */
.hover-list ul span {
  font-size: 1.2rem;
  color: #9db8ce;
  float: right;
  padding: 0 0.5rem;
  opacity: 0;
}
/* line 467, style.less */
.hover-list:hover ul {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 475, style.less */
.link-form {
  display: block;
  text-decoration: none;
  margin-bottom: 2rem;
  position: relative;
  /*   &:hover {
    border-bottom: 1px solid #f5efef;
    padding-bottom: 0.5rem;
    transition: border-bottom 0.3s ease-in-out; 
  } */
}
/* line 487, style.less */
.link-form:hover span {
  opacity: 1;
}
/* line 491, style.less */
.link-form:after {
  display: block;
  content: "";
  background-color: #f5efef;
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: -0.5rem;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 508, style.less */
.link-form:hover:after,
.link-form:focus:after {
  width: 100%;
}
/* === section ABOUT === */
/* line 520, style.less */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.2rem;
  margin-bottom: 10rem;
}
/* line 528, style.less */
.about-text {
  max-width: 548px;
}
/* line 529, style.less */
.about img {
  max-width: 535px;
}
/* === section TESTIMONIALS === */
/* line 538, style.less */
.testimonials-title {
  text-align: center;
}
/* line 542, style.less */
.testimonials-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  grid-template-areas: "big sm1 sm1" "big sm2 sm2" ". . .";
  height: auto;
}
/* line 554, style.less */
.testimonials__item {
  background: #536073;
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 562, style.less */
.testimonials__item-quote {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
/* line 572, style.less */
.testimonials__item-autor {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  color: #ffffff;
  margin-top: 2.8rem;
}
/* line 584, style.less */
.testimonials-slider {
  height: auto;
  max-width: 1470px;
}
/* line 589, style.less */
.testimonials__btn-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  z-index: 9;
}
/* line 596, style.less */
.big {
  grid-area: big;
  padding: 16.3rem 6rem;
}
/* line 601, style.less */
.sm1,
.sm2 {
  padding: 6rem 10.5rem;
}
/* line 606, style.less */
.sm1 {
  grid-area: sm1;
}
/* line 607, style.less */
.sm2 {
  grid-area: sm2;
}
/* === section INSTAGRAM ===*/
/* line 613, style.less */
.instagram {
  text-align: center;
}
/* line 616, style.less */
.instagram-title {
  max-width: 855px;
  text-align: center;
  margin: 10rem auto 4.7rem;
  text-transform: uppercase;
}
/* line 623, style.less */
.instagram-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  margin-bottom: 4.6rem;
}
/* line 630, style.less */
.instagram-items img {
  max-width: 310px;
  width: 100%;
  height: 100%;
}
/* line 638, style.less */
.btn-inst {
  margin-top: 0;
  padding: 1.46rem 3.2rem 0.86rem 3.2rem;
}
/* === FOOTER ===*/
/* line 647, style.less */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #536073;
  margin-top: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 4rem 2rem;
  width: 100%;
}
/* line 657, style.less */
.footer-title {
  font-family: 'Trajan Pro 3';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 135.3%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 18.6rem;
}
/* line 671, style.less */
.footer-menu {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 684, style.less */
.footer-menu li a {
  color: #ffffff;
}
/* line 687, style.less */
.footer-menu li a:hover {
  color: #a9afb9;
}
/* line 691, style.less */
.footer-menu li a:active {
  color: #313945;
}
/* line 696, style.less */
.footer-menu li:nth-last-child(n+2) {
  margin-right: 3rem;
}
/* line 701, style.less */
.footer-contacts {
  margin-bottom: 2.1rem;
}
/* line 704, style.less */
.footer-contacts__social {
  margin-top: 2rem;
}
/* line 707, style.less */
.footer-contacts__social a:nth-last-child(n+2) {
  margin-right: 1.5rem;
}
/* line 713, style.less */
.footer-contacts,
.footer-contacts p,
.footer-contacts a {
  font-size: 0.86rem;
  line-height: 187.5%;
  text-align: right;
  color: #A9AFB9;
  text-decoration: none;
}
/* line 723, style.less */
.footer-contacts a:hover {
  color: #ffffff;
}
/* line 727, style.less */
.footer__wrap-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}
/* line 736, style.less */
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10rem;
}
/* line 741, style.less */
.footer-form__field {
  margin-bottom: 1.3rem;
}
/* line 744, style.less */
.footer-form__field input[type=text],
.footer-form__field input[type=tel] {
  border: 1px solid #ffffff;
  background: transparent;
  padding: 0.86rem 1.2rem;
  width: 100%;
}
/* line 751, style.less */
.footer-form__field input[type=text]::-webkit-input-placeholder,
.footer-form__field input[type=tel]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  font-size: 1rem;
}
.footer-form__field input[type=text]:-ms-input-placeholder,
.footer-form__field input[type=tel]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  font-size: 1rem;
}
.footer-form__field input[type=text]::-ms-input-placeholder,
.footer-form__field input[type=tel]::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  font-size: 1rem;
}
.footer-form__field input[type=text]::placeholder,
.footer-form__field input[type=tel]::placeholder {
  color: #ffffff;
  opacity: 0.7;
  font-size: 1rem;
}
/* line 757, style.less */
.footer-form__field input[type=text]:active,
.footer-form__field input[type=tel]:active,
.footer-form__field input[type=text]:focus,
.footer-form__field input[type=tel]:focus {
  outline: none;
}
/* line 764, style.less */
.footer-form__field input:focus {
  outline: none;
  border: 1px solid #15BEC9;
}
/* line 769, style.less */
.footer-form__input:required:invalid:not(:placeholder-shown):hover {
  border-color: #F54141;
}
/* line 772, style.less */
.footer-form__input:required:invalid:not(:placeholder-shown):hover + .form__error {
  opacity: 1;
}
/* line 779, style.less */
.form__error {
  background: #f54141;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  display: inline-block;
  padding: 3px 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  position: absolute;
}
/* line 791, style.less */
.form__error-text {
  background: #f54141;
  padding: 1.2rem 2.6rem 1.6rem 2.6rem;
  text-align: center;
  position: relative;
  width: 100%;
  color: #ffffff;
}
/* line 799, style.less */
.form__error-text span {
  position: absolute;
  right: 0.5rem;
  top: 0.1rem;
  display: block;
  color: #9db8ce;
}
/* line 809, style.less */
.form__correct-text {
  background: #2DA92B;
  padding: 1.2rem 2.6rem 1.6rem 2.6rem;
  text-align: center;
  position: relative;
  width: 100%;
  color: #ffffff;
}
/* line 817, style.less */
.form__correct-text span {
  position: absolute;
  right: 0.5rem;
  top: 0.1rem;
  display: block;
}
/* line 824, style.less */
.foter-form:valid + .form__correct-text {
  display: block;
}
/* line 825, style.less */
.social-icon {
  width: auto;
}
/* line 826, style.less */
.footer-icon {
  fill: #ffffff;
}
/* === SLIDER ===*/
/* line 831, style.less */
.slider-text {
  font-family: 'Trajan Pro 3';
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 135.3%;
  text-align: center;
  color: #536073;
}
/* line 841, style.less */
.slide-nav {
  position: absolute;
  right: 4rem;
  bottom: 0;
}
/* line 847, style.less */
.item-next,
.item-prev {
  width: 4.6rem;
  height: 4.6rem;
  padding: 1.4rem 1.6rem;
  background: url('../img/icons/arr-next.svg') #9db8ce no-repeat center;
}
/* line 855, style.less */
.item-next {
  background: url('../img/icons/arr-next.svg') #9db8ce no-repeat center;
}
/* line 859, style.less */
.item-prev {
  background: url('../img/icons/arr-next.svg') #9db8ce no-repeat center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/* === INPUT === */
/* line 868, style.less */
input,
input:enabled {
  border: 1px solid #536073;
}
/* line 872, style.less */
input:-ms-input-placeholder,
input:enabled:-ms-input-placeholder {
  color: #536073;
  opacity: 0.7;
}
/* line 878, style.less */
input:active {
  border: 1px solid #15BEC9;
}
/* line 882, style.less */
.inputError {
  color: #F54141;
  opacity: 0.7;
  border: 1px solid #F54141;
}
/* line 888, style.less */
.hidden {
  display: none;
}
/* === MEDIA SCREEN ===*/
@media screen and (max-width: 1280px) {
  /* line 898, style.less */
  .category {
    gap: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  /* line 902, style.less */
  body,
  html {
    font-size: 12px;
  }
  /* line 903, style.less */
  .content {
    padding: 0 1rem;
  }
  /* line 904, style.less */
  .about img,
  .face-img {
    max-width: 400px;
  }
  /* line 905, style.less */
  .header ul {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media screen and (max-width: 720px) {
  /* line 909, style.less */
  .logo-img {
    max-width: 70%;
  }
  /* line 910, style.less */
  .btn__feedback {
    max-width: 100px;
  }
}
@media screen and (max-width: 768px) {
  /* line 914, style.less */
  body,
  html {
    font-size: 10px;
  }
  /* line 915, style.less */
  .about img,
  .face-img {
    max-width: 300px;
  }
  /* line 916, style.less */
  .big {
    padding: 10rem 3rem;
  }
  /* line 917, style.less */
  .sm1,
  .sm2 {
    padding: 3rem 5rem;
  }
  /* line 918, style.less */
  .footer-title {
    max-width: 100%;
  }
}
@media screen and (max-width: 560px) {
  /* line 922, style.less */
  body,
  html {
    font-size: 8px;
  }
  /* line 924, style.less */
  .content-wrap,
  .category,
  .about,
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 931, style.less */
  .about-text {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  /* line 936, style.less */
  .sm1,
  .sm2 {
    padding: 1rem 2rem;
  }
  /* line 937, style.less */
  .content {
    width: 90%;
  }
  /* line 940, style.less */
  .content-wrap__descript {
    margin-top: 3rem;
  }
  /* line 943, style.less */
  .btn-light {
    color: #ffffff;
    border-color: #ffffff;
  }
  /* line 946, style.less */
  .btn-light:hover {
    background: #9db8ce;
  }
  /* line 951, style.less */
  .hero-content__wrap {
    height: 100vh;
  }
  /* line 952, style.less */
  .hero-content__btn {
    position: absolute;
    bottom: 1.7rem;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    max-width: 300px;
  }
  /* line 961, style.less */
  .hero__btn-container {
    display: none;
  }
  /* line 965, style.less */
  .footer-form {
    width: 100%;
  }
  /* line 969, style.less */
  .footer-menu li {
    margin-right: 0;
    text-align: left;
    line-height: 2rem;
  }
  /* line 975, style.less */
  #menu__toggle {
    opacity: 0;
  }
  /* line 979, style.less */
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* line 991, style.less */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  /* line 1001, style.less */
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  /* line 1006, style.less */
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* line 1011, style.less */
  .nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* line 1025, style.less */
  .nav-item {
    display: block;
    padding: 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  /* line 1033, style.less */
  .nav-item:hover {
    background-color: #CFD8DC;
  }
  /* line 1034, style.less */
  .nav-item:nth-last-child(n+2) {
    margin-right: 0;
  }
  /* line 1038, style.less */
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  /* line 1041, style.less */
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  /* line 1045, style.less */
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  /* line 1049, style.less */
  #menu__toggle:checked ~ .nav {
    visibility: visible;
    left: 0;
    opacity: 1;
    background-color: #536073;
    top: 0;
    margin-top: 0;
    background-image: url(../img/slide.jpg);
    background-position: 70% center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 1061, style.less */
  #menu__toggle:checked ~ .nav + .logo-img__mob {
    position: fixed;
  }
  /* line 1063, style.less */
  .menu-toggle_social {
    position: absolute;
    width: 100%;
    display: none;
  }
  /* line 1069, style.less */
  input#menu__toggle:checked ~ .menu-toggle__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    opacity: 0;
    left: 0;
    bottom: 0;
    position: absolute;
  }
  /* line 1080, style.less */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  /* line 1085, style.less */
  .nav {
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  /* line 1087, style.less */
  .nav-item {
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  /* line 1093, style.less */
  .btn__feedback {
    display: none;
  }
  /* line 1097, style.less */
  .nav-item__link {
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 260%;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
  }
  /* line 1107, style.less */
  .header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 1110, style.less */
  .logo-img {
    display: none;
  }
  /* line 1113, style.less */
  .logo-img__mob {
    display: block;
    z-index: 1;
    position: relative;
  }
  /* line 1120, style.less */
  .fz-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 1123, style.less */
  .fz-content img {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 70% center;
       object-position: 70% center;
  }
  /* line 1130, style.less */
  .header-contacts__social {
    display: none;
  }
  /* line 1133, style.less */
  .hero-content__wrap {
    padding-left: 0;
    width: 90%;
  }
  /* line 1137, style.less */
  .slider-text {
    color: #ffffff;
    padding-top: 50%;
  }
  /* line 1141, style.less */
  .about img,
  .face-img {
    width: 100%;
  }
  /* line 1144, style.less */
  .hover-list ul li {
    font-size: 2.2rem;
  }
  /* line 1145, style.less */
  .hover-list ul span {
    font-size: 1rem;
  }
  /* line 1146, style.less */
  .category-item__desc p,
  p {
    font-size: 1.5rem;
  }
}
@media (min-width: 500px) {
  /* line 1151, style.less */
  .only-mob,
  .link-more {
    display: none;
  }
  /* line 1155, style.less */
  #menu__toggle {
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 1161, style.less */
  .testimonials-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.25rem;
    grid-template-areas: "big" "sm1" "sm2";
  }
  /* line 1170, style.less */
  .testimonials__item-quote {
    font-size: 1rem;
  }
  /* line 1171, style.less */
  .testimonials__item-autor {
    font-size: 0.8rem;
    margin-top: 1.25rem;
  }
  /* line 1175, style.less */
  .testimonials-overlay:not(:first-child),
  .testimonials__btn-container {
    display: none;
  }
  /* line 1180, style.less */
  fz-slider[enhanced] {
    overflow: visible;
  }
  /* line 1183, style.less */
  .fz-scroll {
    height: 100%;
  }
  /* line 1185, style.less */
  .instagram-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
  }
  /* line 1192, style.less */
  .btn-dark {
    width: 100%;
    font-size: 1rem;
    padding: 18px;
  }
  /* line 1198, style.less */
  .link-more {
    font-size: 18px;
    line-height: 149.49%;
    text-align: center;
    text-transform: capitalize;
    color: #536073;
    display: block;
    margin-top: 1.8rem;
  }
  /* line 1207, style.less */
  .link-more span {
    position: relative;
    margin-right: 0.7rem;
  }
  /* line 1211, style.less */
  .link-more svg {
    position: absolute;
    bottom: 4px;
  }
  /* line 1216, style.less */
  .big,
  .sm1,
  .sm2 {
    padding: 3.3rem 1.25rem;
  }
  /* line 1217, style.less */
  .btn-inst {
    letter-spacing: 0.15em;
    padding: 1.1rem 0;
    margin-top: 2.5rem;
    width: 90%;
  }
  /* line 1223, style.less */
  .instagram {
    margin-top: 6rem;
  }
  /* line 1225, style.less */
  .instagram-title {
    max-width: 400px;
  }
  /* line 1226, style.less */
  .instagram-items {
    margin: 0 1.25rem;
  }
}
@media screen and (max-width: 420px) {
  /* line 1232, style.less */
  body,
  html,
  p {
    font-size: 16px;
  }
  /* line 1233, style.less */
  .hover-list {
    max-height: 194px;
  }
  /* line 1236, style.less */
  .hover-list:hover,
  .hover-list:active {
    max-height: 630px;
  }
  /* line 1241, style.less */
  .hover-list ul li {
    font-size: 1.3rem;
    line-height: 156.49%;
  }
  /* line 1247, style.less */
  h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  /* line 1252, style.less */
  h4 {
    z-index: 1;
    position: relative;
  }
  /* line 1256, style.less */
  h4 span {
    font-weight: 100;
  }
  /* line 1259, style.less */
  .about {
    margin-bottom: 3.1rem;
  }
  /* line 1262, style.less */
  .about-text {
    margin-bottom: 0;
  }
  /* line 1265, style.less */
  .hero-nav {
    margin: 1.6rem 1rem;
  }
  /* line 1266, style.less */
  .slider-text {
    font-size: 2rem;
  }
  /* line 1267, style.less */
  .face-img {
    z-index: -1;
  }
  /* line 1269, style.less */
  .category-item__desc {
    bottom: 1.1rem;
    left: 1.3rem;
  }
  /* line 1272, style.less */
  .category-item__desc h3 {
    font-size: 1.3rem;
  }
  /* line 1273, style.less */
  .category-item__desc p {
    font-size: 1rem;
  }
  /* line 1275, style.less */
  .category-item__list {
    padding: 2.5rem 1rem;
  }
  /* line 1276, style.less */
  .about-text p {
    display: none;
  }
  /* line 1277, style.less */
  .instagram-title {
    margin: 6rem 1.25rem 2.5rem;
  }
  /* line 1279, style.less */
  .footer {
    margin-top: 3.6rem;
    padding: 3.3rem 1.25rem 3.5rem;
  }
  /* line 1283, style.less */
  .footer-title {
    font-size: 2rem;
    margin: 0 auto;
    max-width: 200px;
  }
  /* line 1289, style.less */
  .footer-form {
    margin-top: 2.5rem;
    margin-bottom: 3.75rem;
  }
  /* line 1293, style.less */
  .footer-form__field input[type="tel"]::-webkit-input-placeholder,
  .footer-form__field input[type="text"]::-webkit-input-placeholder {
    font-size: 15px;
  }
  .footer-form__field input[type="tel"]:-ms-input-placeholder,
  .footer-form__field input[type="text"]:-ms-input-placeholder {
    font-size: 15px;
  }
  .footer-form__field input[type="tel"]::-ms-input-placeholder,
  .footer-form__field input[type="text"]::-ms-input-placeholder {
    font-size: 15px;
  }
  .footer-form__field input[type="tel"]::placeholder,
  .footer-form__field input[type="text"]::placeholder {
    font-size: 15px;
  }
  /* line 1299, style.less */
  .footer__wrap-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 1300, style.less */
  .footer-menu {
    display: none;
  }
  /* line 1303, style.less */
  .footer-menu li {
    line-height: 3rem;
  }
  /* line 1306, style.less */
  .footer__logo-img {
    max-width: 200px;
    margin-bottom: 2.1rem;
  }
  /* line 1311, style.less */
  .footer .footer-contacts {
    margin-bottom: 0;
  }
  /* line 1314, style.less */
  .footer .footer-contacts a {
    text-decoration: underline;
  }
  /* line 1316, style.less */
  .footer .footer-contacts,
  .footer .footer-contacts p {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
  /* line 1322, style.less */
  .footer .footer-contacts__social {
    margin-top: 2.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* line 1328, style.less */
  .footer .footer-contacts__social a:nth-last-child(n+2) {
    margin-right: 0;
  }
  /* line 1335, style.less */
  .btn-footer {
    font-size: 15px;
    padding: 22px 70px;
  }
  /* line 1340, style.less */
  .logo-create {
    max-width: 184px;
    margin-top: 3.3rem;
  }
  /* line 1345, style.less */
  .content-wrap {
    margin: 2rem auto 3.2rem;
  }
  /* line 1348, style.less */
  .content-wrap__descript {
    margin-top: 1.2rem;
  }
  /* line 1351, style.less */
  .content-wrap__descript h4 {
    font-size: 1.3rem;
    padding: 0 1.8rem 1.2rem;
    font-weight: 300;
  }
  /* line 1359, style.less */
  .color-box {
    height: 255px;
    left: 0;
    top: -14%;
    width: 100%;
  }
  /* line 1365, style.less */
  .btn__get-result {
    margin-top: 1.7rem;
  }
}
